<h1>Eigendom</h1>
<p style="text-align: right;">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="searchEigendomMenu"><mat-icon>search</mat-icon> Eigendom selecteren</button>&nbsp;
    <mat-menu #searchEigendomMenu="matMenu">
        <button mat-menu-item (click)="openZoekDialogEigendom()">Via eigendom</button>
        <button mat-menu-item (click)="openZoekDialogAdres()">Via adres</button>
        <button mat-menu-item (click)="openZoekDialogKadaster()">Via Kadastraal nummer</button>
    </mat-menu>

    <button mat-raised-button color="primary" routerLink="eigendom/add"><mat-icon>add</mat-icon> Nieuw eigendom</button>
</p>

<div *ngIf="!eigendom">
    Geen eigendom beschikbaar. Gebruik de zoekfunctie om een eigendom te selecteren.
</div>

<div *ngIf="loaded">
    <p><b>Geselecteerde eigendom:</b> {{ eigendom.id }}</p>
    <p *ngIf="eigendom.adres">{{eigendom.adres.straatnaam}} {{eigendom.adres.huisnummer}} in {{eigendom.adres.woonplaats}}</p>

    <mat-accordion class="data">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Eigendom</mat-panel-title>
                <mat-panel-description>
                    Eigendom object
                    <mat-icon>real_estate_agent</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p style="text-align: right;"><button mat-button routerLink="eigendom/edit/{{eigendom.id}}"><mat-icon>edit</mat-icon> Eigendom wijzigen</button></p>
            <table class="dataTable">
                <tr><td>Eigendomnummer</td><td>{{ eigendom.id }}</td></tr>
                <tr><td>Relatienummer</td><td>{{ eigendom.relatienummer }}</td></tr>
                <tr><td>Ingangsdatum</td><td>{{ eigendom.ingangsdatum | date:'dd-MM-yyyy' }}</td></tr>
                <tr><td>Einddatum</td><td>{{ eigendom.einddatum | date:'dd-MM-yyyy' }}</td></tr>
                <tr><td>Complexnummer</td><td>{{ eigendom.complexnummer }}</td></tr>
                <tr><td>Economische waarde</td><td>{{ eigendom.economischeWaarde | currency:'EUR':'symbol':'' }}</td></tr>
                <tr><td>Verzekerde waarde</td><td>{{ eigendom.verzekerdeWaarde | currency:'EUR':'symbol':'' }}</td></tr>
            </table>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Adres</mat-panel-title>
                <mat-panel-description>
                    Adres van eigendom
                    <div *ngIf="!eigendom.adres; else elseAdres"><mat-icon color="warn">warning</mat-icon></div>
                    <ng-template #elseAdres><mat-icon>home</mat-icon></ng-template>
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <div *ngIf="eigendom.adres; then thenBlockAdres; else elseBlockAdres"></div>
            <ng-template #thenBlockAdres>
                <p style="text-align: right;"><button mat-button routerLink="adres/edit/{{eigendom.id}}"><mat-icon>edit</mat-icon> Adres wijzigen</button></p>
                <table>
                    <tr>
                        <tr><td>Straatnaam</td><td>{{ eigendom.adres.straatnaam }}</td></tr>
                        <tr><td>Huisnummer</td><td>{{ eigendom.adres.huisnummer }}</td></tr>
                        <tr><td>Toevoeging</td><td>{{ eigendom.adres.toevoeging }}</td></tr>
                        <tr><td>Postcode</td><td>{{ eigendom.adres.postcode }}</td></tr>
                        <tr><td>Woonplaats</td><td>{{ eigendom.adres.woonplaats }}</td></tr>
                </table>
            </ng-template>
            <ng-template #elseBlockAdres>Er is geen adres gekoppeld aan dit eigendom - <a routerLink="adres/add/{{eigendom.id}}">adres kopppelen</a></ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Eigenaar</mat-panel-title>
                <mat-panel-description>
                    Gekoppelde eigenaar/eigenaren
                    <div *ngIf="eigendom.eigenaar.length == 0; else elseEign"><mat-icon color="warn">warning</mat-icon></div>
                    <ng-template #elseEign><mat-icon>groups</mat-icon></ng-template>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div *ngIf="eigendom.eigenaar.length > 0 then thenBlockEign; else elseBlockEign"></div>
            <ng-template #thenBlockEign>
                <p style="text-align: right;">
                    <button mat-button (click)="openZoekDialogEignKopp()"><mat-icon>assignment_add</mat-icon> Eigenaar koppelen</button>
                    <button mat-button routerLink="eigenaar/add/{{eigendom.id}}"><mat-icon>add</mat-icon> Nieuwe eigenaar</button>
                </p>
                <table mat-table [dataSource]="eigenarenTable">
                    <ng-container matColumnDef="naam">
                        <th mat-header-cell *matHeaderCellDef>Naam</th>
                        <td mat-cell *matCellDef="let element">{{element.naam}}</td>
                    </ng-container>

                    <ng-container matColumnDef="voorletters">
                        <th mat-header-cell *matHeaderCellDef>Voorletters</th>
                        <td mat-cell *matCellDef="let element">{{element.voorletters}}</td>
                    </ng-container>

                    <ng-container matColumnDef="debiteurnummer">
                        <th mat-header-cell *matHeaderCellDef>Debiteurnummer</th>
                        <td mat-cell *matCellDef="let element">{{element.debiteurnummer}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ingangsdatum">
                        <th mat-header-cell *matHeaderCellDef>Ingangsdatum</th>
                        <td mat-cell *matCellDef="let element">{{element.ingangsdatum | date: 'dd-MM-yyyy'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="einddatum">
                        <th mat-header-cell *matHeaderCellDef>Einddatum</th>
                        <td mat-cell *matCellDef="let element">{{element.einddatum | date: 'dd-MM-yyyy'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="eigenarenOpties" [matMenuTriggerData]="{id: element.id}"><mat-icon>more_vert</mat-icon></button>
                        </td>
                    </ng-container>
                    <mat-menu #eigenarenOpties="matMenu">
                        <ng-template matMenuContent let-id="id">
                            <button mat-menu-item (click)="openDetailsEign(id)"><mat-icon>visibility</mat-icon> Details</button>
                            <button mat-menu-item routerLink="eigenaar/edit/{{id}}"><mat-icon>edit</mat-icon> Bewerken</button>
                            <button mat-menu-item (click)="openOntkDialogEign(id)"><mat-icon>close</mat-icon> Ontkoppel</button>
                        </ng-template>
                    </mat-menu>

                    <tr mat-header-row *matHeaderRowDef="eigenarenColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: eigenarenColumns;"></tr>
                </table>
            </ng-template>
            <ng-template #elseBlockEign>Er is nog geen eigenaar aan dit eigendom gekoppeld - <a (click)="openZoekDialogEignKopp()" href="javascript:;">eigenaar koppelen</a> - <a routerLink="eigenaar/add/{{eigendom.id}}">eigenaar aanmaken</a></ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Herziening</mat-panel-title>
                <mat-panel-description>
                    Geplande herziening
                    <div *ngIf="!eigendom.herziening; else elseHerz"><mat-icon color="warn">warning</mat-icon></div>
                    <ng-template #elseHerz><mat-icon>timer</mat-icon></ng-template>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div *ngIf="eigendom.herziening then thenBlockHerz; else elseBlockHerz;"></div>
            <ng-template #thenBlockHerz>
                <p style="text-align: right;"><button mat-button routerLink="herziening/edit/{{eigendom.id}}"><mat-icon>edit</mat-icon> Herziening wijzigen</button></p>
                <table>
                    <tr><td>Volgende herziening</td><td>{{eigendom.herziening.volgendeHerziening}} jaar</td></tr>
                    <tr><td>Herzieningsdatum</td><td>{{eigendom.herziening.herzieningsdatum | date: 'dd-MM-yyyy'}}</td></tr>
                </table>
            </ng-template>
            <ng-template #elseBlockHerz>Er is nog geen herziening ingevuld voor dit eigendom - <a routerLink="herziening/add/{{eigendom.id}}">herziening invullen</a></ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Kadaster</mat-panel-title>
                <mat-panel-description>
                    Gegevens uit het Kadaster
                    <div *ngIf="!eigendom.kadaster; else elseKadast"><mat-icon color="warn">warning</mat-icon></div>
                    <ng-template #elseKadast><mat-icon>grass</mat-icon></ng-template>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div *ngIf="eigendom.kadaster then thenBlockKadast; else elseBlockKadast;"></div>
            <ng-template #thenBlockKadast>
                <p style="text-align: right;">
                    <button mat-button (click)="syncKadaster()"><mat-icon>sync</mat-icon> Synchroniseren</button>
                    <button mat-button routerLink="kadaster/edit/{{eigendom.id}}"><mat-icon>edit</mat-icon> Kadaster wijzigen</button>
                </p>
                <table>
                    <tr><td>Kadstraal nummer</td><td>{{eigendom.kadaster.kadastraalNummer}}</td></tr>
                    <tr><td>Deeloppervlakte</td><td>{{eigendom.kadaster.deeloppervlakte}} m2</td></tr>
                    <tr><td>Kadastrale grootte</td><td>{{eigendom.kadaster.kadastraleGrootte}} m2</td></tr>
                    <tr><td>Type object</td><td>{{eigendom.kadaster.objectType}}</td></tr>
                    <tr *ngIf="eigendom.kadaster.laatsteSynchronisatie"><td>Laatste synchronisatie</td><td>{{eigendom.kadaster.laatsteSynchronisatie | date: 'dd-MM-yyyy'}}</td></tr>
                    <tr *ngIf="!eigendom.kadaster.laatsteSynchronisatie"><td>Laatste synchronisatie</td><td>nooit</td></tr>
                </table>
            </ng-template>
            <ng-template #elseBlockKadast>Er zijn nog geen Kadastrale gegevens bekend - <a routerLink="kadaster/add/{{eigendom.id}}">Kadaster invullen</a></ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Bestanden</mat-panel-title>
                <mat-panel-description>
                    Gerelateerde Bestanden
                    <mat-icon>attach_file</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p style="text-align: right;">
                <button mat-button (click)="openUploadFileDialog()"><mat-icon>upload</mat-icon> Upload bestand(en)</button>
            </p>

            <div *ngIf="eigendom.bestand.length > 0 then thenBlockBst; else elseBlockBst;"></div>    
            <ng-template #thenBlockBst>
                <table mat-table [dataSource]="bestandenTable">
                    <ng-container matColumnDef="naam">
                        <th mat-header-cell *matHeaderCellDef>Naam</th>
                        <td mat-cell *matCellDef="let element"><p matTooltip="{{element.beschrijving}}">{{element.naam}}</p></td>
                    </ng-container>
                    <ng-container matColumnDef="soortBestand">
                        <th mat-header-cell *matHeaderCellDef>Soort bestand</th>
                        <td mat-cell *matCellDef="let element">{{soortenBestanden[element.soortBestand]}}</td>
                    </ng-container>
                    <ng-container matColumnDef="grootteInKb">
                        <th mat-header-cell *matHeaderCellDef>Bestandsgrootte</th>
                        <td mat-cell *matCellDef="let element">{{element.grootteInKb / 1024 | number}} MB</td>
                    </ng-container>
                    <ng-container matColumnDef="download">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element"><a mat-icon-button (click)="downloadFile(element.id, element.naam)"><mat-icon>download</mat-icon></a></td>
                    </ng-container>
                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="bestandenOpties" [matMenuTriggerData]="{id: element.id}"><mat-icon>more_vert</mat-icon></button>
                        </td>
                        <mat-menu #bestandenOpties="matMenu">
                            <ng-template matMenuContent let-id="id">
                                <button mat-menu-item routerLink="bestand/edit/{{id}}"><mat-icon>edit</mat-icon> Bewerk metadata</button>
                                <button mat-menu-item (click)="openVerwijderFileDialog(id)"><mat-icon>delete</mat-icon> Verwijder</button>
                            </ng-template>
                        </mat-menu>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="bestandenColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: bestandenColumns;"></tr>
                </table>
            </ng-template>
            <ng-template #elseBlockBst>
                <p>Er zijn geen bestanden aanwezig</p>
            </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Notities</mat-panel-title>
                <mat-panel-description>
                    Notities gerelateerd aan het eigendom
                    <mat-icon>notes</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div *ngIf="editNotities then elseBlockNot; else thenBlockNot;"></div>
            <ng-template #thenBlockNot>
                <p style="text-align: right;"><button mat-button (click)="editNotities = true"><mat-icon>edit</mat-icon> Bewerken</button></p>
                <p>{{eigendom.notities}}</p>
            </ng-template>
            <ng-template #elseBlockNot>
                <mat-form-field style="width: 100%;">
                    <mat-label>Notities</mat-label>
                    <textarea matInput [formControl]="notities"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="updateNotes()"><mat-icon>save</mat-icon> Opslaan</button>
            </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Overeenkomst(en)</mat-panel-title>
                <mat-panel-description>
                    Afgesloten overeenkomst(en) gerelateerd aan het eigendom
                    <div *ngIf="eigendom.overeenkomst.length == 0; else elseOvereen"><mat-icon color="warn">warning</mat-icon></div>
                    <ng-template #elseOvereen><mat-icon>gavel</mat-icon></ng-template>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div *ngIf="eigendom.overeenkomst.length > 0 then thenBlockOvereen; else elseBlockOvereen;"></div>
                <ng-template #thenBlockOvereen>
                    <p style="text-align: right;">
                        <button mat-button (click)="openKoppelOvereenkomstDialog(eigendom.id)"><mat-icon>assignment_add</mat-icon> Koppel overeenkomst</button>
                        <button mat-button routerLink="overeenkomst/add/{{eigendom.id}}"><mat-icon>add</mat-icon> Nieuwe overeenkomst</button>
                    </p>

                    <table mat-table [dataSource]="overeenkomstenTable">
                        <ng-container matColumnDef="dossiernummer">
                            <th mat-header-cell *matHeaderCellDef>Dossiernummer</th>
                            <td mat-cell *matCellDef="let element">{{element.dossiernummer}}</td>
                        </ng-container>
                        <ng-container matColumnDef="ingangsdatum">
                            <th mat-header-cell *matHeaderCellDef>Ingangsdatum</th>
                            <td mat-cell *matCellDef="let element">{{element.ingangsdatum | date: 'dd-MM-yyyy'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="einddatum">
                            <th mat-header-cell *matHeaderCellDef>Einddatum</th>
                            <td mat-cell *matCellDef="let element">{{element.einddatum | date: 'dd-MM-yyyy'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="rentepercentage">
                            <th mat-header-cell *matHeaderCellDef>Rente %</th>
                            <td mat-cell *matCellDef="let element">{{element.rentepercentage}}</td>
                        </ng-container>
                        <ng-container matColumnDef="bedrag">
                            <th mat-header-cell *matHeaderCellDef>Bedrag</th>
                            <td mat-cell *matCellDef="let element">{{element.financien.bedrag | currency:'EUR':'symbol':'' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="frequentie">
                            <th mat-header-cell *matHeaderCellDef>Frequentie</th>
                            <td mat-cell *matCellDef="let element">{{frequentieOvereenkomsten[element.financien.frequentie]}}</td>
                        </ng-container>
                        <ng-container matColumnDef="periode">
                            <th mat-header-cell *matHeaderCellDef>Periode</th>
                            <td mat-cell *matCellDef="let element">{{factPerioden[element.financien.factureringsPeriode]}}</td>
                        </ng-container>
                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element"><button mat-icon-button [matMenuTriggerFor]="overeenkomstOpties" [matMenuTriggerData]="{id: element.id}"><mat-icon>more_vert</mat-icon></button></td>
                        </ng-container>
                        <mat-menu #overeenkomstOpties="matMenu">
                            <ng-template matMenuContent let-id="id">
                                <button mat-menu-item (click)="openBekijkOvereenkomstDialog(id)"><mat-icon>visibility</mat-icon> Bekijk</button>
                                <button mat-menu-item routerLink="overeenkomst/edit/{{id}}"><mat-icon>edit</mat-icon> Bewerken</button>
                                <button mat-menu-item (click)="openVerwijderOvereenkomstDialog(id)"><mat-icon>delete</mat-icon> Verwijderen</button>
                            </ng-template>
                        </mat-menu>
                        
                        <tr mat-header-row *matHeaderRowDef="overeenkomstenColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: overeenkomstenColumns;"></tr>
                    </table>
                </ng-template>
                <ng-template #elseBlockOvereen>
                    <p>Er zijn nog geen overeenkomsten gekoppeld - <a routerLink="overeenkomst/add/{{eigendom.id}}">nieuwe overeenkomst</a> of <a (click)="openKoppelOvereenkomstDialog(eigendom.id)" href="javascript:;">koppel overeenkomst</a></p>
                </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>