<h2>Overeenkomsten</h2>

<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Bijv. dossiernummer">
</mat-form-field>

<table mat-table [dataSource]="overeenkomstTable" class="mat-elevation-z8">
    <ng-container matColumnDef="dossiernummer">
        <th mat-header-cell *matHeaderCellDef>Dossiernummer</th>
        <td mat-cell *matCellDef="let element">{{element.dossiernummer}}</td>
    </ng-container>
    <ng-container matColumnDef="ingangsdatum">
        <th mat-header-cell *matHeaderCellDef>Ingangsdatum</th>
        <td mat-cell *matCellDef="let element">{{element.ingangsdatum | date: 'dd-MM-yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="einddatum">
        <th mat-header-cell *matHeaderCellDef>Einddatum</th>
        <td mat-cell *matCellDef="let element">{{element.einddatum | date: 'dd-MM-yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="grondwaarde">
        <th mat-header-cell *matHeaderCellDef>Grondwaarde</th>
        <td mat-cell *matCellDef="let element">{{element.grondwaarde | currency:'EUR':'symbol':'' }}</td>
    </ng-container>
    <ng-container matColumnDef="rentepercentage">
        <th mat-header-cell *matHeaderCellDef>Rente %</th>
        <td mat-cell *matCellDef="let element">{{element.rentepercentage}}</td>
    </ng-container>
    <ng-container matColumnDef="bedrag">
        <th mat-header-cell *matHeaderCellDef>Bedrag</th>
        <td mat-cell *matCellDef="let element">{{element.financien.bedrag | currency:'EUR':'symbol':'' }}</td>
    </ng-container>
    <ng-container matColumnDef="frequentie">
        <th mat-header-cell *matHeaderCellDef>Frequentie</th>
        <td mat-cell *matCellDef="let element">{{frequentieOvereenkomsten[element.financien.frequentie]}}</td>
    </ng-container>
    <ng-container matColumnDef="periode">
        <th mat-header-cell *matHeaderCellDef>Periode</th>
        <td mat-cell *matCellDef="let element">{{perioden[element.financien.factureringsPeriode]}}</td>
    </ng-container>
    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><button mat-icon-button [matMenuTriggerFor]="overeenkomstOpties" [matMenuTriggerData]="{id: element.id}"><mat-icon>more_vert</mat-icon></button></td>
    </ng-container>
    <mat-menu #overeenkomstOpties="matMenu">
        <ng-template matMenuContent let-id="id">
            <button mat-menu-item (click)="openBekijkOvereenkomstDialog(id)"><mat-icon>visibility</mat-icon> Bekijk</button>
            <button mat-menu-item routerLink="edit/{{id}}"><mat-icon>edit</mat-icon> Bewerken</button>
            <button mat-menu-item (click)="openVerwijderOvereenkomstDialog(id)"><mat-icon>delete</mat-icon> Verwijderen</button>
        </ng-template>
    </mat-menu>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" collspan="4">Er zijn geen overeenkomsten aanwezig</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="overeenkomstColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: overeenkomstColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>