<h2 mat-dialog-title>Upload bestand(en)</h2>

<mat-dialog-content>
    <p style="color: red;" *ngIf="error">
        {{error}}
    </p>
    <form [formGroup]="uploadFileForm" (ngSubmit)="uploadFiles()">
        <p><input type="file" multiple (change)="onFileChange($event)"></p>

        <div *ngIf="filesArray.length > 0">
            <ul>
                <li *ngFor="let file of filesArray">
                    {{file}}
                </li>
            </ul>
        </div>

        <button mat-raised-button color="primary"><mat-icon>upload</mat-icon> Uploaden</button>
        </form>
</mat-dialog-content>