<div class="loginbox">
    <div class="header">
        <h1><b>Erfpacht 058 - Gemeente Leeuwarden</b></h1>
     <img src="assets/huis.jpg" width="200" height="150">
    </div>
    <mat-card>
        <div class="content">
            <h1>Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field class="full-width">
                    <mat-label>E-mailadres</mat-label>
                    <input matInput formControlName="emailadres">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Wachtwoord</mat-label>
                    <input matInput type="password" formControlName="wachtwoord">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Inloggen</button>
            </form>
        </div>
    </mat-card>
</div>