<mat-toolbar color="primary">
    <span>Erfpacht 058</span>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/logout"><mat-icon class="icon">logout</mat-icon></button>
  </mat-toolbar>

<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/app" matTooltip="Eigendom"><mat-icon>real_estate_agent</mat-icon></a>
            <a mat-list-item routerLink="/app/eigenaar" matTooltip="Eigenaren"><mat-icon>group</mat-icon></a>
            <a mat-list-item routerLink="/app/overeenkomst" matTooltip="Overeenkomsten"><mat-icon>handshake</mat-icon></a>
            <a mat-list-item *ngIf="helper.isAdministrator()" routerLink="/app/usermanagement" matTooltip="Gebruikersbeheer"><mat-icon>account_circle</mat-icon></a>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <div class="content">
            <div class="content-header">
                <p>Welkom {{naam}} - laatste inlog {{inlog}}</p>
            </div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>

  </mat-drawer-container>