<h1>Overeenkomst</h1>

<form [formGroup]="overeenkomstForm" (ngSubmit)="modOvereenkomst()">
    <mat-form-field class="full-width">
        <mat-label>Dossiernummer</mat-label>
        <input matInput formControlName="dossiernummer">
    </mat-form-field>

    <mat-form-field class="half-width">
        <mat-label>Ingangsdatum</mat-label>
        <input matInput type="date" formControlName="ingangsdatum">
    </mat-form-field>
    <mat-form-field class="half-width">
        <mat-label>Einddatum</mat-label>
        <input matInput type="date" formControlName="einddatum">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Grondwaarde</mat-label>
        <input matInput type="number" formControlName="grondwaarde">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Datum akte</mat-label>
        <input matInput type="date" formControlName="datumAkte">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Rentepercentage</mat-label>
        <input matInput type="number" formControlName="rentepercentage">
    </mat-form-field>

    <h2>Financiën</h2>

    <div formGroupName="financien">
        <mat-form-field class="half-width">
            <mat-label>Bedrag</mat-label>
            <input matInput type="number" formControlName="bedrag">
        </mat-form-field>

        <mat-form-field class="half-width">
            <mat-label>Periode</mat-label>
            <mat-select formControlName="factureringsPeriode">
                <mat-option [value]="0">Juni</mat-option>
                <mat-option [value]="1">December</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <mat-label>Frequentie</mat-label>
            <mat-select formControlName="frequentie">
                <mat-option [value]="0">Vooraf</mat-option>
                <mat-option [value]="1">Achteraf</mat-option>
                <mat-option [value]="2">Halverwege</mat-option>
                <mat-option [value]="3">Eenmalig</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field class="half-width">
            <mat-label>Factureringswijze</mat-label>
            <mat-select formControlName="factureringsWijze">
                <mat-option [value]="0">Maandelijks</mat-option>
                <mat-option [value]="1">Halfjaarlijks</mat-option>
                <mat-option [value]="2">Jaarlijks</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button type="submit" mat-raised-button color="primary"><mat-icon>save</mat-icon> Opslaan</button>
</form>