<h2 mat-dialog-title>Reset wachtwoord</h2>

<mat-dialog-content>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <mat-form-field class="full-width">
        <mat-label>Wachtwoord</mat-label>
        <input matInput type="password" formControlName="wachtwoord">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Wachtwoord (herhalen)</mat-label>
        <input matInput type="password" formControlName="wachtwoord2">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon> Reset wachtwoord</button>
    </form>
</mat-dialog-content>