<h1>Imports</h1>

<p style="text-align: right;">
    <button mat-raised-button color="primary" routerLink="add"><mat-icon>add</mat-icon> Nieuwe import</button>&nbsp;
    <button mat-raised-button color="primary" routerLink="vertaaltabellen"><mat-icon>table</mat-icon> Vertaaltabellen</button>
</p>

<p style="text-align: right;"><button mat-icon-button (click)="getImports()"><mat-icon>refresh</mat-icon></button></p>

<table mat-table [dataSource]="importsTable" class="mat-elevation-z8" matSort matSortActive="id" matSortDirection="desc">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nr.</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="naam">
        <th mat-header-cell *matHeaderCellDef>Naam</th>
        <td mat-cell *matCellDef="let element">{{element.translateModel?.naam}}</td>
    </ng-container>
    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td mat-cell *matCellDef="let element">{{element.translateModel?.model}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{statussen[element.task.status]}}</td>
    </ng-container>
    <ng-container matColumnDef="aanmaakDatum">
        <th mat-header-cell *matHeaderCellDef>Aanmaakdatum</th>
        <td mat-cell *matCellDef="let element">{{element.aanmaakdatum | date: 'dd-MM-yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="failedInfo">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.task.status == 3">
                <button mat-icon-button (click)="showErrorDialog(element.task.fout)"><mat-icon>info</mat-icon></button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 25]"></mat-paginator>