<h1>Eigendom toevoegen</h1>

<p>Voeg een nieuw eigendom object toe om een erfpacht constructie op te voeren.</p>

<form [formGroup]="addEigendomForm" (ngSubmit)="addEigendom()">
    <mat-form-field class="full-width">
        <mat-label>Relatienummer</mat-label>
        <input matInput formControlName="relatienummer">
        <mat-hint>Nummer uit Unit4Financials t.b.v. facturatie</mat-hint>
    </mat-form-field>

    <mat-form-field class="half-width">
        <mat-label>Ingangsdatum</mat-label>
        <input type="date" matInput formControlName="ingangsdatum">
    </mat-form-field>
    <mat-form-field class="half-width">
        <mat-label>Complexnummer</mat-label>
        <input matInput placeholder="Nummer in verbinding met constructie" formControlName="complexnummer">
        <mat-hint>Artikelcode uit Unit4</mat-hint>
    </mat-form-field>

    <mat-form-field class="half-width">
        <mat-label>Economische waarde</mat-label>
        <input type="number" matInput formControlName="economischeWaarde">
        <mat-hint>Waarde die is vastgesteld bij uitgifte van de erfpacht constructie</mat-hint>
    </mat-form-field>
    <mat-form-field class="half-width">
        <mat-label>Verzekerde waarde</mat-label>
        <input type="number" matInput formControlName="verzekerdeWaarde">
        <mat-hint>Waarde die is vastgesteld bij de laatste herziening</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Notities</mat-label>
        <textarea matInput formControlName="notities"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit"><mat-icon>save</mat-icon> Toevoegen</button>
</form>